In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
sub=pd.read_csv("/content/sample_submmission.csv")

In [ ]:
sub

       Patient_ID  Health_Camp_ID  Outcome
0          505701            6548     0.50
1          500633            6584     0.50
2          506945            6582     0.50
3          497447            6551     0.50
4          496446            6533     0.50
...           ...             ...      ...
35244      507261            6525     0.50
35245      513607            6551     0.50
35246      498160            6584     0.50
35247      502444            6567     0.50
35248      523811            6584     0.50

[35249 rows x 3 columns]

In [ ]:
train=pd.read_csv("/content/train_prediction.csv")

In [ ]:
train.drop(["Unnamed: 0"],axis=1,inplace=True)

In [ ]:
y=train.pop("outcome")

In [ ]:
train

       Var1  Var2  ...  Category1_std  Category2_std
0         4     0  ...           0.48           0.48
1         0     0  ...           0.33           0.30
2         0     0  ...           0.48           0.48
3         0     0  ...           0.33           0.33
4         4     0  ...           0.33           0.33
...     ...   ...  ...            ...            ...
74939     0     0  ...           0.33           0.48
74940     0     0  ...           0.33           0.48
74941     0     0  ...           0.33           0.48
74942     0     0  ...           0.33           0.48
74943     0     0  ...           0.33           0.48

[74944 rows x 71 columns]

In [ ]:
y.isnull().sum()

334

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train, y,test_size=.33,random_state =123)

In [ ]:
pip install lazypredict

Requirement already satisfied: lazypredict in /usr/local/lib/python3.6/dist-packages (0.2.7)
Requirement already satisfied: Click>=7.0 in /usr/local/lib/python3.6/dist-packages (from lazypredict) (7.1.2)

In [ ]:
pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.23.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)

In [ ]:
from lazypredict.Supervised import LazyClassifier

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.utils.testing module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.utils. Anything that cannot be imported from sklearn.utils is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
clf = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)

In [ ]:
clf.fit(X_train, X_test, y_train, y_test)

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score

In [ ]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

In [ ]:
from sklearn.svm import LinearSVC
lr=LinearSVC()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.6167944580587671

In [ ]:
from sklearn.linear_model import SGDClassifier
lr=SGDClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.7955478478101341

In [ ]:
from sklearn.neural_network import MLPClassifier
lr=MLPClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.7258102991324678

In [ ]:
from xgboost import XGBClassifier
lr=XGBClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.5156413962564651

In [ ]:
from lightgbm import LGBMClassifier
lr=LGBMClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.4248060177307913

In [ ]:
from sklearn.ensemble import BaggingClassifier
lr=BaggingClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.39118818321463616

In [ ]:
from sklearn.naive_bayes import GaussianNB
lr=GaussianNB()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.627103312557319

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
lr=GradientBoostingClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.49775010388643404

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
lr=AdaBoostClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.6161528342314223

In [ ]:
from sklearn.linear_model import RidgeClassifier
lr=RidgeClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.8143573973227779

In [ ]:
from sklearn.ensemble import RandomForestClassifier
lr=RandomForestClassifier()
scores = cross_val_score(lr, train,y, cv = 3, scoring = "roc_auc")
scores.mean()

0.5362925355045868